
/* Colors used:
Primary Color:  #FFDA7B
Secondary Color: #7BFFD0
Tertiary Color: #FFA9D2
Background Color (white): #fffff
Text Colors: #000000 */

/* Global Styles ============================ */
html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: white;
}

a {
    color: white;
}

/* Header ==================================== */
header {
    background-color: pink;
    height: 66px;
}
nav {
    background-color: blue;
    /* padding: 10px; */
    display: flex;
    flex-direction: row;
}
.fas {
    position: static;
    font-size: 2em;
}
.menu {
    background-color: orange;
    text-align: center;
    position: absolute;
    padding: 10px 15px;
}
.logo {
    background-color: pink;
    width: 100%;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

nav.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.cotton {
    margin-right: 10px;
    height: 1.25em;
}
.logo li {
    font-family: 'Domine', serif;
    font-weight: 500;
}

nav a {
    color: black;
    text-decoration: none;
}

/* Main ==================================== */


/* Footer ==================================== */

/* Links and Buttons ============================ */

/* Containers & Columns ==================================== */

/* Layout styling =====================================*/

/* Flexbox styles ===================================== */

/* .flex {
    display: flex;
}

flex-js-sb {
    justify-content: space-between;
}

flex-ai-c {
    align-items: center;
} */


/* Media Queries =====================================*/
@media only screen and (min-width: 600px) {
    nav {
        padding: 20px;
    }
}